@import url('https://fonts.googleapis.com/css?family=Quicksand:500,600,700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background: #eee;
}

.header {
    background: #3d3d65;
    padding: 20px 0px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 0px 12px rgba(61, 61, 100, 0.5);
    margin-bottom: 20px;
}

.service-type-selection {
    margin: 20px 0px 5px 0px;
    padding: 0px;

    li {
        list-style-type: none;
        color: #fff;
        display: inline-block;
        padding: 10px 20px;
        font-size: 12px;
        cursor: pointer;

        &.active {
            background: #5e5aea;
            border-radius: 20px;
        }
    }
}

.search-holder {
    margin-bottom: 20px;

     .search-label {
        font-size: 10px;   
        margin: 0px;
        color: #b9c5c9;
    }

    .input-icon {
        margin-top: 20px;
        color: #b9c5c9;
    }

    .form-control {
        border: 0px;
        border-bottom: 2px solid #b9c5c9 !important;
        border-radius: 0px;
        font-weight: 700;
        width: 100% !important;
        background: transparent !important;
        font-size: 12px;

        &[type=date] {
            padding-left: 0px;
            padding-right: 0px;
        }  

        &:focus {
            box-shadow: none !important;
            outline: none !important;
        }
    }

    .passenger-label {
        font-size: 8px;
    }

    .search-description {
        max-width: 90%;
        margin-top: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: absolute;
        font-size: 10px;
    }

    .suggestion-container {
        position: relative;

        .suggestion-box {
            position: absolute;
            top: 90px;
            background: #fff;
            width: 100%;
            left: -10px;
            max-height: 300px;
            overflow-y: auto;
            z-index: 99999;
            border-radius: 20px;
            border: 1px solid #eeeeee;
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
            display: none;

            &.active {
                display: block;
            }

            ul {
                margin: 0px;
                padding: 10px 0px;

                li {
                    list-style-type: none;
                    padding: 2px 20px;
                    cursor: pointer;

                    .code {
                        margin: 0px 0px 0px 0px;
                        font-weight: 700;
                        font-size: 12px;
                    }

                    .description {
                        line-height: 100% !important;
                        font-size: 10px;
                        padding-bottom: 5px;
                        margin: 0px;
                    }

                    &:hover {
                        background: #eee;
                    }
                }
            }
        }
    }
}

.search-result-holder {
    .search-code {
        margin-bottom: -10px !important;
        margin-top: 10px !important;
    }

    .search-date {
        margin-top: -5px !important;
        display: block;
    }

    .search-description {
        display: block;
        font-size: 10px;
    }

    h1 {
        
        div {
            font-size: 16px;
        }

        div + small {
            margin-top: -5px;
            display: block;
            font-size: 12px;
        }

        small {
            font-size: 12px;
        }
    }
}

.flight-item {
    background: #fff;
    margin-left: -20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

    ul {
        padding: 0;
        margin: 0;
        width: 100%;
        position: relative;
        margin-bottom: 20px;
        margin-top: -10px;

        &:after {
            position: absolute;
            top: 35px;
            left: 0;
            content: '';
            width: 100%;
            height: 1px;
            background: #c5c5c5;
            z-index: 999;
        }

        li {
            display: inline;
            text-align: center;
            position: relative;
            padding: 0px 10px;
            color: #c5c5c5;

            &:after {
                position: absolute;
                top: 23px;
                left: calc(50% - 10px);
                content: '';
                width: 20px;
                height: 20px;
                border: 5px solid #fff;
                border-radius: 50%;
                background: #3d3c65;
                z-index: 9999;
            }
        }
    }

    .flight-icons {
        .title {
            margin-top: 12px;
            margin-left: 10px;
            font-size: 18px;

            &.airline {
                margin-top: 6px;
            }
        }

        button {
            margin-top: 4px;
            margin-left: 20px;
        }
    }

    .question {
        margin-top: 9px;
        color: #c5c5c5;
    }

    hr {
        border: none;
        border-top: 1px dashed #c5c5c5;
        margin-right: -30px;
        margin-top: 0px;
    }
}

.btn-float-right {
    border: none !important;
    background: #5e5aea;
    padding: 10px 20px;
    width: 80%;
    color: #fff;
    border-radius: 30px;
    outline: none !important;
    font-size: 12px;
    box-shadow: 0px 0px 12px rgba(61, 61, 100, 0.5);

    i {
        margin-right: 10px;
    }
}

.btn {
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 800;
}

.result-filter {
    padding: 20px;
    background: #3d3d65;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
        color: #fff;
        font-size: 10px;
    }
}

.title {
    font: 700 24px 'Quicksand', sans-serif;
     
    div + small {
        margin-top: -2px;
        font-size: 16px;
        display: block;
    }

    small.small {
        font-size: 12px;
    }
}

.title-2x {
    font: 800 38px 'Quicksand', sans-serif;

   div + small {
        margin-top: -5px;
        font-size: 16px;
        display: block;
    }
}

.form-group {
    label {
        margin-bottom: -10px;
        font-size: 14px;
    }

    input, select {
        background: transparent;
        border: none;
        border-bottom: 1px solid #8686b5;
        border-radius: 0px;

        &:focus {
            outline: none;
            background: transparent;
            box-shadow: none;
            border-bottom-width: 2px;
        }
    }
}

.bt-modal {
    background: #eee;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    z-index: 99999999;
    overflow: auto;

    &.visible {
        visibility: visible;
    }

    .bt-modal-body {
        padding: 30px 10px;
    }
}

.card {
    margin-bottom: 10px;
}

.text-white {
    color: #fff;
}

.text-header-darker {
    color: #8686b5;
    font-weight: 600;
}

.m-0 {
    margin: 0px !important;
}

.table-padding-0 td {
    padding: 5px;
    font-size: 12px;
}

.traveller-addon {
    .btn {
        padding: 9px 10px !important;
    }
}

.page-label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
}

input[type=date]::-webkit-calendar-picker-indicator {
    background: transparent;
    opacity: 0;
    height: 0;
    width: 0px;
}